---
layout: default
title: HYTKD - Harjoitukset
---
<h1>Harjoitukset</h1>

<p>
    Seuran säännölliset harjoitusajat ja -paikat ovat
</p>

{% for period in site.data.trainings %}
    <h4>{{ period.dates }}</h4>
    <ul class="non-indented-list">
    {% for time in period.times %}
        <li>{{ time.time }} {{ time.location }}<li>
    {% endfor %}
    </ul>
{% endfor %}

<p>
	Koronavirusepidemian aikana harjoituksissa noudatetaan seuraavia erikoisjärjestelyjä tartuntojen ehkäisemiseksi:
</p>
<p><ul>
	<li>Salissa saa olla samanaikaisesti max 50 hlöä</li>
	<li>Ohjatuissa harjoituksissa min. 2 m etäisyydet, sama suositus vapaissa treeneissä</li>
	<li>Kaikki harjoitusvälineet desinfioidaan käytön jälkeen. Seura tarjoaa puhdistusvälineet (kaapissa), vetäjä huolehtii, että näin tapahtuu</li>
	<li>Kädet pestään hyvin aina ennen ja jälkeen treenien</li>
	<li>Sairaana - edes pienessä flunssassa - ei tulla treeneihin</li>
</ul>
Ohjeita tarkennetaan päivittyvien viranomaisohjeiden ja -suositusten mukaisesti.
</p>