---
layout: default
title: HYTKD - Harjoitukset
---
<h1>Harjoitukset</h1>

<p>
    Seuran säännölliset harjoitusajat ja -paikat ovat
</p>

{% for period in site.data.trainings %}
    <h4>{{ period.dates }}</h4>
    <ul class="non-indented-list">
    {% for time in period.times %}
        <li>{{ time.time }} {{ time.location }}<li>
    {% endfor %}
    </ul>
{% endfor %}

<h3>Epidemiatilanteeseen liittyvät ohjeet</h4>

<p>
	Koronavirusepidemian aikana harjoituksissa noudatetaan seuraavia erikoisjärjestelyjä tartuntojen ehkäisemiseksi ja jäljittämiseksi:
</p>
<p><ul>
	<li>Porthanian saa olla samanaikaisesti max 25 hlöä</li>
	<li>Ohjatuissa harjoituksissa min. 2 m etäisyydet mahdollisuuksien mukaan, sama suositus vapaissa treeneissä</li>
	<li>Kaikki harjoitusvälineet desinfioidaan käytön jälkeen. Seura tarjoaa puhdistusvälineet (kaapissa), vetäjä huolehtii, että näin tapahtuu</li>
	<li>Kädet pestään hyvin aina ennen ja jälkeen treenien</li>
	<li>Sairaana - edes pienessä flunssassa - ei tulla treeneihin</li>
    <li>Harjoituksiin tulee ilmoittautua seuran <a href="https://hytkd.nimenhuuto.com/events">Nimenhuudossa</a>.
</ul>

<p><h4>Helsingin kaupungin ohjeistus maskin käytöstä kaupungin tiloissa</h4></p>
<p>Helsinki suosittaa vahvasti 15 vuotta täyttäneille kasvomaskin käyttöä kaikissa kaupungin sisäliikuntapaikoissa, kun lähikontaktia ei voida välttää. Suositus perustuu Terveyden ja hyvinvoinnin laitoksen THL:n antamaan koronaepidemian kiihtymisvaiheen maskisuositukseen, joka koskee laajasti julkisia tiloja. Liikuntaan tai urheiluun sekä niiden seuraamiseen käytettävien tilojen (myös uimahallit) osalta maskin käyttöä suositellaan vahvasti vähintään yleisissä tiloissa ja pukeutumistiloissa. Maskien laaja käyttösuositus täydentää muita turvallisuusohjeita, joihin kuuluu huolellinen käsihygienia, turvavälit, sairastaminen kotona ja koronatestiin hakeutuminen pienissäkin oireissa.</p>

<p>Kaupunki ei jaa palveluissaan kasvomaskeja asiakkailleen, vaan lähtökohtaisesti jokainen on itse vastuussa kasvomaskin käytöstä, hankkimisesta ja tästä aiheutuvista kustannuksista. Vähävaraiset voivat hakea ilmaisia maskeja kaupunkien maskijakelupisteistä.</p>

<p>Töölön ala-asteen saliin saapuessa pyri saapumaan harjoituksiin ajoissa – näin vältetään tarpeettomat kohtaamiset edellisten kanssa rappukäytävässä ja pukuhuoneissa. Odota edellisten poistumista salista lavalla.</p>

<p><h4>UniSportin maskisuositus</h4></p>
<p>Suosittelemme vahvasti kasvomaskin käyttöä UniSportin liikuntakeskuksissa. Altistumisten välttämiseksi noudata aina myös riittävää etäisyyttä muihin asiakkaisiin sekä henkilökuntaamme.</p>

<p>UniSportin tiloissa suosittelemme THL:n ja Helsingin yliopiston suositusten mukaan seuraavissa tilanteissa:</p>
<p><ul>
<li>julkisissa sisätiloissa ja yleisötilaisuuksissa, joissa lähikontakteja ei voida aina välttää,</li>
<li>urheilun seuraamiseen käytettävissä tiloissa eli katsomoissa,</li>
<li>liikuntakeskusten yleisissä tiloissa ja pukuhuoneissa, ennen pesutiloihin siirtymistä.</li>
</ul></p>

<p>Ohjeita tarkennetaan päivittyvien viranomaisohjeiden ja -suositusten mukaisesti.</p>