$background-light-grey: rgb( 229, 229, 218);
$top-bar-dark-green: rgb( 134, 146, 93);
$body-text-black: rgb( 50, 50, 50);
$max-screen-size: 66em;

body {
    background-color: $background-light-grey;
    font-family: verdana, arial;
    font-size: 1em;
    color: $body-text-black;    
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.image-container {
    padding-top: 30px;
    img { 
        object-fit: cover;
        max-width: 840px;
        overflow: hidden;
    }
}

.page-container {
    max-width: $max-screen-size;
}

.footer {
    font-size: 0.7em;
}

.non-indented-list {
    list-style-type: none;
    padding-left: 0px;
    li {
        padding: 2px;
    }
}