{% assign image_number = "0,1,2,3,4,5" | split: "," | sample %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}" >
  </head>
  <body>
    <div class="container">
      <div id="navbar" class="navi">
        {% include nav.html %}
      </div>
      <div class="image-container">
        <img src="/assets/images/kuvitus{{ image_number }}.jpg">
      </div>
      <div class="page-container">
        {{ content }}
      </div>
      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
      <!-- Open navigation menu by default on large screens -->
    <script>
      if (window.innerWidth > 1000) {
        document.getElementById("menuToggleCheckbox").checked = true;
      }
    </script>
  </body>
</html>
