{% assign image_number = page.title.size | modulo: 7 %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}" >
    <script src="/assets/javascript/navbar.js" type="text/javascript"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div class="grid-container">
      <div class="top-bar">

      </div>
      <div id="navbar" class="navi">
        {% include nav.html %}
      </div>
      <div class="image-container">
        <img src="/assets/images/fiilis{{ image_number }}.jpg">
      </div>
      <div class="page-container">
        <!-- <div class="watermark">
          <img src="/assets/images/logo.png">
        </div>-->
        {{ content }}
      </div>
      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
